<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyFoodWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MYONGSIK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23166A6D28FECD9C002AEFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A258496829E687C900E75568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
